{% extends 'store/base.html' %}
{% block content %}
    <div id="actions">
          <a id="make_new_product" href="{% url 'create_new_product' %}">Create New Product</a>
    </div>

     {% if error %}
        <div id=”error”>
            {{ error }}
        </div>
     {% elif success %}
        <div id=”done”>
            {{ success }}
        </div>
     {% else %}
         <form id="become_seller" action="{% url 'become_seller' %}" method="POST">
             {% csrf_token %}
             <button name="submit">درخواست</button>
         </form>
     {% endif %}
{% endblock %}