{% extends 'store/base.html' %}
{% block content %}

<form id="register_form" action="{% url 'signup' %}" method="POST" class="form">
    {% csrf_token %}

    <input name="first_name" placeholder="first name">
    <input name="last_name" placeholder="lasy name">
    <input name="username" placeholder="username">
    <input name="email" placeholder="email">
    <input name="password1" placeholder="password">
    <input name="password2" placeholder="confirm password">
    <button name="submit">ارسال</button>

</form>

{% endblock %}
